<br />
<br />
<br />
<br />
<h1>Proyectos</h1>
<br />
<br />
<br />

<table class="project-table">
  <tr>
    <h1>VAN</h1>
    <div>2022</div>
    <br />
    <i>Lista de tareas con calendario</i>

    <ul>
      <li>
        Se creó una aplicación web utilizando HTML y Bootstrap para el Frontend
        y Node.js y Express para Backend y se utilizó MongoDB para almacenar la
        información
      </li>
      <li>
        Trabajé con un equipo y usamos GIT para el control de versiones y Render
        para el deployment
      </li>
      <li>
        Se implementaron las operaciones CRUD para usuarios, tareas y
        notificaciones
      </li>
      <li>
        Se crearon filtros para las tareas (fecha, nombre, etiqueta, etc.) y se
        diseñó un calendario para filtrar por fecha
      </li>
    </ul>
  </tr>
  <tr>
    <h1>Juego de Ajedrez</h1>
    <div>2021</div>
    <br />
    <i>Juego de Ajedrez con una IA enemiga</i>

    <ul>
      <li>
        Se desarrolló un juego de ajedrez en C completamente funcional
        utilizando raylib para las interfaces gráficas
      </li>
      <li>
        Se utilizó GIT para el control de versiones para trabajar con el equipo
      </li>
      <li>
        Se implementó un botón de deshacer utilizando un stack y una opción para
        guardar y cargar el juego desde un archive externo
      </li>
      <li>El programa implementa una IA que realiza movimientos evaluados</li>
    </ul>
  </tr>
  <tr>
    <h1>API de videojuegos</h1>
    <div>2021</div>
    <br />
    <i>API que permite al programador crear videojuegos</i>

    <ul>
      <li>
        Se creó una API en java que permite crear objetos colisionables que
        siguen las leyes de la física
      </li>
      <li>
        Permite al programador crear ventanas y mostrar objetos fácilmente en la
        pantalla
      </li>
      <li>La librería de clases fue diseñada en UML</li>
      <li>
        Implementado utilizando el paradigma orientado a objetos de una forma
        modular y escalable
      </li>
    </ul>
  </tr>
</table>
