<br />
<br />
<br />
<section class="contacto">
  <h2>Contacto</h2>

  <ul>
    <li>
      <i class="fas fa-map-marker-alt"></i>Periférico 1000-24C, Zapopan Jal.
      México
    </li>
    <li><i class="fas fa-phone"></i>+52 3313230105</li>
    <li><i class="fas fa-envelope"></i>naim2206@yahoo.com.mx</li>
    <li><i class="fab fa-github"></i>https://github.com/naim2206</li>
    <li>
      <i class="fab fa-linkedin"></i
      >https://www.linkedin.com/in/naim-towfighian-43899b200/
    </li>
  </ul>
</section>
