<div class="input-group" style="width: 50%; margin: 25px 25% 25px 25%;">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="toSearch" />
  <button type="button" class="btn btn-outline-primary" onclick="main()" id="search">search</button>
</div>

