.center {
    text-align: center;

    &-full {
        @extend .center;
        height: 30px;
        width: 240px;
        margin-top: -15px;
        top: 30%;
        position: absolute;
        display: block;
        left: 50%;
        margin-left: -120px;
    }
}