<br />
<br />
<br />
<h1>Educacion</h1>
<table class="education-table">
  <thead>
    <tr>
      <th>Institución</th>
      <th>Título</th>
      <th>Fecha de graduación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Instituto Tecnológico de Estudios Superiores de Occidente</td>
      <td>Ingeniería en Sistemas Computacionales</td>
      <td>Inicio Agosto 2020 / Graduación Diciembre 2024</td>
    </tr>
    <tr>
      <td>Instituto Tecnológico de Estudios Superiores de Monterrey</td>
      <td>Preparatoria Bicultural</td>
      <td>Agosto 2017 - Mayo 2020</td>
    </tr>
  </tbody>
</table>
